In [1]:
import pandas as pd

In [4]:
chipo=pd.read_csv('/home/littlejack/Bureau/data/chipotle.tsv', sep='\t')

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [7]:
chipo.shape

(4622, 5)

In [8]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

In [9]:
chipo.item_name.value_counts().count()

50

In [10]:
chipo.quantity.sum()

4972

In [12]:
d=chipo.groupby('choice_description').sum()
d=d.sort_values(['quantity'],ascending='false')
d.head(7)

                                                    order_id  quantity
choice_description
[Adobo-Marinated and Grilled Chicken, Pinto Bea...       214         1
[Tomatillo Green Chili Salsa, [Fajita Vegetable...       830         1
[Tomatillo Green Chili Salsa, [Fajita Vegetable...      1685         1
[Tomatillo Green Chili Salsa, [Fajita Vegetable...      1461         1
[Tomatillo Green Chili Salsa, [Fajita Vegetable...       103         1
[Tomatillo Green Chili Salsa, [Fajita Vegetable...       836         1
[Tomatillo Green Chili Salsa, [Fajita Vegetable...        95         1

In [16]:
doll= lambda x: float(x[1:-1])
chipo.item_price=chipo.item_price.apply(doll)

In [17]:
chipo.item_price.head(10)

0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
5    10.98
6     1.69
7    11.75
8     9.25
9     9.25
Name: item_price, dtype: float64

In [18]:
 chipo.item_price.mean()

7.464335785374397

In [20]:
revenu=chipo['quantity']*chipo['item_price']
revenu.sum()

340813.17600000004

In [21]:
nb=chipo.order_id.value_counts().count()
nb

1834

In [22]:
revenu.sum()/nb

185.83052126499456